.body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.ist-section {
    background-image: url(images/donation13.jpg);
    height: 109vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
    
    
}
.ist-section h1 {
    font-size: 80px;
    color: white;
    margin: 10px;
}

.ist-section p {
 font-size: 30px;
 color: white;
 margin: 0;

}
 .ist-section a {
    background-color: orangered;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
 }

.help-those {
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    position:relative;
}  
.button {
    padding: 60px;
    
}
.text-description {
    text-align: center;
}
.text-description h1 {
    font-size: 80px;
}
.text-description p {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.box1 {
    height: 180px;
    width: 170px;
   
    text-align: center;
    background-color: rgba(128, 128, 128, 0.127);
   
}
.box2 {
    height: 180px;
    width: 170px;
    border: 5px solid rgb(216, 6, 6);
    text-align: center;
    background-color: rgba(128, 128, 128, 0.127);
    color: red;
   
}
.box3 {
    height: 180px;
    width: 170px;
    
    text-align: center;
    background-color: rgba(128, 128, 128, 0.127);
   
}
.box4 {
    height: 180px;
    width: 170px;
   
    text-align: center;
    background-color: rgba(128, 128, 128, 0.127);
   
}
.box5 {
    height: 180px;
    width: 170px;
  
    text-align: center;
    background-color: rgba(128, 128, 128, 0.127);
   
}
.boxes {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.second-section a {
    background-color: orangered;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 45%;
 }
 .boxes h2 {
    font-size: 50px;
 
   
 }
 .second-section {
    margin-bottom: 150px;
 }
 .box-food {
    width : 400px;
    height: 350px;
    background-color: rgba(128, 128, 128, 0.375);
   font-size: 25px;
   padding: 20px 20px;
 }
 .box-shelter {
    width : 400px;
    height: 350px;
    background-color:rgba(245, 245, 220, 0.49);
   font-size: 25px;
   padding: 20px 20px;
 }
 .box-education {
    width : 400px;
    height: 350px;
    background-color:rgba(0, 255, 255, 0.174);
   font-size: 25px;
   padding: 20px 20px;
 }
 .all-boxes {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 200px;
 }
.footer {
    width: 100%;
    height: 250px;
    background-color: black;
    text-align: center;
    color: white;
    
    
}
.footer h1 {
    font-size: 60px;
    color: red;
    padding-top: 50px;
    
}
.footer p {
    font-size: 20px;
}
.form-box {
    width: 900px;
    height: 200px;
    background-color: rgba(232, 201, 201, 0.531);
    width: 50%;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 3%;
}
.form-button {
   margin-left: 50%;
   padding: 75px;
  
   
   
}
.form-button input{
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin-left: -200px;
}
.form-button a {
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    padding: 17px 40px; 
    color: white;
    font-size: 23px;
    margin-left: -15px;
}
.fifth-section {
    margin-bottom: 100px;
}




